/* -------- FOOTER -------- */

footer#rodape {
    height: auto;
    width: 100%;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer#rodape p {
	text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}