/* -------- HTML, BODY -------- */

@import url(https://fonts.googleapis.com/css?family=Poppins);

html {
    height: 100%;
    width: auto;
}

body {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: 'Poppins';
    height: 100%;
}


/* -------- HOMEPAGE MAIN -------- */

main.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main #buscar {
    text-decoration: none;



    color: white;
    background-color: #0066FF;
    padding: 4px 24px;
    border-radius: 50px;
    transition: background-color 0.4s;
}

main #buscar:hover {
	background-color: #606060;
    cursor: pointer;
}